@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* /border: 1px black solid; */
}

body {
  background-image: linear-gradient(180deg, #f0cc8e, #fff);
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  width: 100%;
  height: auto;
}

/* navabr */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px 5%;
  background-color: #3b415b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.navbar {
  margin-left: 40%;
}

.navbar a {
  font-size: 1rem;
  color: #fff;
  margin-left: 4rem;
  text-decoration: none;
  transition: background-color 0.8 ease-in-out;
}

.navbar a:hover {
  background-color: #fff;
  border-radius: 20px;
  color: black;
  padding: 5px;
}
/* navbar end */

/* side bar */
.left {
  position: fixed;
  background-color: #3b415b;
  left: 0;
  height: 100vh;
  width: 20%;
  z-index: 99;
}

.container-sidebar {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  padding-left: 15%;
  padding-top: 30%;
}

.container-sidebar a {
  color: #fff;
  margin: 20px;
  width: 70%;
}

.container-sidebar h4 {
  color: #fff;
  margin: 10%;
  width: 70%;
  font-size: 30px;
}

.satu {
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease-in-out;
}

.satu:hover {
  background-color: #ff616170;
}

.dua {
  background-color: #ff6161;
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease;
}

.tiga {
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease;
}

.tiga:hover {
  background-color: #ff616170;
}

.empat {
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease;
}

.empat:hover {
  background-color: #ff616170;
}

/* sidebar end */

.right {
  position: fixed;
  justify-content: end;
  right: 0;
  top: 7%;
  height: 100vh;
  width: 80%;
  z-index: 99;
}

.container-foto {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gambar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2%;
}

.gambar img {
  display: flex;
  flex-direction: column;
  width: auto;
}

.keterangan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 2%;
}

/* bawah */
.berjalan {
  box-sizing: border-box;
  padding-top: 2%;
}

.container-bawah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-berjalan {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-berjalan figure {
  border: 2px #104c70 solid;
  display: inline-block;
  width: 30vh;
  margin-left: 20px;
  padding: 20px;
  border-radius: 20px;
  margin: 40px;
}

.img-berjalan img {
  display: flex;
  margin-top: 10px;
  padding-left: 5%;
  max-width: 100%;
}

.img-berjalan figcaption {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.img-berjalan figcaption i {
  margin-right: 7px;
}
