@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* /border: 1px black solid; */
}

body {
  background-image: linear-gradient(180deg, #f0cc8e, #fff);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

main {
  width: 100%;
  height: auto;
}

/* navabr */
nav {
  background-color: #3d405b;
  height: 60px;
  z-index: 999;
}

nav a img {
  height: 50px;
}
nav .container .collapse ul li a {
  color: white;
  border-radius: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.973);
}

nav .container .collapse ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  text-shadow: 1px 1px 1px rgba(255, 251, 251, 0.973);
}
nav .collapse a img {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 20px;
}
/* navbar end */

/* side bar */
.left {
  position: fixed;
  background-color: #3b415b;
  left: 0;
  height: 100vh;
  width: 20%;
}

.container-sidebar {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  padding-left: 15%;
  padding-top: 30%;
}

.container-sidebar a {
  color: #fff;
  margin: 20px;
  width: 70%;
  text-decoration: none;
}

.container-sidebar h4 {
  color: #fff;
  margin: 10%;
  width: 70%;
  font-size: 30px;
}

.satu {
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease-in-out;
}

.satu:hover {
  background-color: #ff616170;
}

.dua {
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease;
}

.dua:hover {
  background-color: #ff616170;
}

.tiga {
  background-color: #ff6161;
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease;
}

.empat {
  padding: 17px;
  margin: 0;
  border-radius: 20px;
  background-position: center;
  transition: background-color 0.8 ease;
}

.empat:hover {
  background-color: #ff616170;
}

/* sidebar end */

.right {
  position: absolute;
  justify-content: end;
  right: 0;
  top: 7%;
  height: 100vh;
  width: 80%;
  z-index: 99;
}

.container-foto {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.foto h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px solid black;
  width: 30%;
  border-radius: 20px;
  font-size: 24px;
  margin-left: 35%;
  padding: 10px;
  background-color: #73f1b4;
}

/* bawah */
.berjalan {
  box-sizing: border-box;
  padding-top: 2%;
}

.container-bawah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-berjalan {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-berjalan figure {
  border: 2px #104c70 solid;
  display: inline-block;
  width: 35vh;
  margin-left: 20px;
  padding: 20px;
  border-radius: 20px;
  margin: 60px;
  background-color: #fff;
}

.img-berjalan img {
  display: flex;
  margin-top: 10px;
  padding-left: 10%;
  max-width: 100%;
}

.img-berjalan figcaption {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.img-berjalan figcaption i {
  margin-right: 7px;
}

.unduh {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4%;
}

.unduh1 {
  border: 2px #104c70 solid;
  width: 20vh;
  border-radius: 20px;
  background-color: #73f1b4;
  margin-left: -10%;
}

.unduh2 {
  border: 2px #104c70 solid;
  width: 20vh;
  border-radius: 20px;
  background-color: #73f1b4;
}

.uh1,
.uh2 {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}
