* {
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #F0CC8E 0%, rgba(240, 204, 142, 0.91) 0.01%, rgba(240, 204, 142, 0.00) 100%) !important;  

}
nav{
    background-color: #3D405B;
    height: 60px;
    z-index: 8;
    
}

nav a img {
    height: 50px;
}
nav .container .collapse ul li a{
    color: white ;
    border-radius: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.973);
}
nav .container .collapse ul li a{
    
}

nav .container .collapse ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-shadow: 1px 1px 1px rgba(255, 251, 251, 0.973);
}
nav .collapse a img {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 20px;
}



.About{
    min-height: 87vh;
}

.About .image-bg {
    height: 99vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: grid;
    filter: blur(3px);
    
}

.About .about-content{
    z-index: 55;
    display: grid;
    z-index: 8;
}
.About .about-content h1  {
    font-size: 40px;
    font-weight: bold;
}
.About .about-content { 
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.973);
}
.About .about-content .row .col img {
    width: 70px;
    height: 70px;
}
.layananKami .layananKami-content {
    max-width: 97vw;
    text-align: center;
    margin-top: 100px;
    
}
.layananKami .layananKami-content h1 {
    font-size: 48px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.67);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 80px;
}
.layananKami .layananKami-content h3 {
    font-weight: bold;
    padding-top: 20px;
}
.card {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 100px;
    box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
}

.page-1{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.mentoring{
    max-width: 97vw;
    padding: 20px;
    margin-top: 100px;
}
.mentoring .row {
    margin-bottom: 200px;
}

.mentoring .mentor-ahli img{
    height: 250px;
    width: 250px;
    padding: 20px;
}
.mentoring .row .btn-detail {
    width: 200px;
    border-radius: 20px;
    align-items: center;
}

.footer {
    height: 50vh;
    background-color: #3D405B;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
}
.footer .logo {
    margin-top: 20px;
}
.footer .logo p {
    margin-left: 50px;
    margin-top:30px;
    margin-bottom: 30px;
}
.footer .container {
    display: flex;
    justify-content: space-around;
}
.footer .container h5 {
    font-size: 15px;
}

.footer .logo .sosmed {
    width: 200px;
    background-color: white;
    color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-left: 50px;

}
.footer .container .name {
    display: flex;
    flex-direction: column;
    width: 150px;
}
.footer .container .email{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.footer .container .info{
    display: flex;
    justify-content: space-between;
}
.footer .container .info input {
    border-radius: 10px;
    border: none;
}
.footer .product p{
    font-size: 13px;
    color: #BCBCBC;
}
.footer .contact p{
    font-size: 13px;
    color: #BCBCBC;
}
.line-footer{
    background-color: #3D405B !important;
    padding: 30px 150px 50px 150px;
}
.line-footer p {
    text-align: right;
}




/* halaman course */


.Course-yang-tersedia .Course-yang-tersedia-content {
    max-width: 97vw;
    text-align: center;
    margin-top: 100px;
    
}
.Course-yang-tersedia .Course-yang-tersedia-content img{
    margin : 4px 4px 4px 4px;

}
.Course-yang-tersedia .Course-yang-tersedia-content h1 {
    font-size: 48px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.67);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
    margin-top: -50px;
}
.Course-yang-tersedia .Course-yang-tersedia-content button {
    margin-top: -40px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #73F1B4;
    color: black;
    font-weight: bold;
}
.Course-yang-tersedia .Course-yang-tersedia-content h3 {
    font-weight: bold;
    padding-top: 20px;
}



.card-course {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin :20px 20px 50px 20px ;
    box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border: 1px solid black;
}
.page-2{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.Karaousel {
    margin-bottom: 100px;
    margin-top: 150px;
}

.Karaousel .carousel-inner .carousel-item  .karousel-1 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0);
    justify-content: center;
    
    
}
.Karaousel .carousel-inner .carousel-item .karousel-1 .isi-k1 {
    width: 480px;
    height: 480px;
    background-color: #EECA8D;
    border-radius: 50%;
    position: relative;
    border: 5px solid #3D405B;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Karaousel .carousel-inner .carousel-item  .karousel-1 .isi-k1 img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.Karaousel .carousel-inner .carousel-item .karousel-1 .isi-k1 h5 {
    font-size: 20px;
    margin: -60px 0 -20px 0 ; 
    font-weight: bold;
    
}

.Karaousel .carousel-inner .carousel-item .karousel-1 .isi-k1 h6 {
    font-size: 14px;
    margin: 0; /* Menghilangkan margin bawaan pada elemen h6 */
}

.Karaousel .carousel-inner .carousel-item .karousel-1 .isi-k1 p {
    font-size: 14px;
    margin: 30px 50px 0 50px; /* Menghilangkan margin bawaan pada elemen p */
}
.Karaousel .carousel h1 {
    font-size: 50px;
    font-weight:bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -50px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.378);

}
.Course-yang-tersedia .page-2 .card-course .card-body .parent .d-flex img {
    width: 25px;
    height: 25px;
}
.Course-yang-tersedia .page-2 .card-course .card-body img {
   
}










