@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* /border: 1px black solid; */
}

body {
  background-image: linear-gradient(180deg, #f0cc8e, #fff);
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  width: 100%;
  height: auto;
}

nav {
  background-color: #3d405b;
  height: 60px;
  z-index: 8;
}

nav a img {
  height: 50px;
}
nav .container .collapse ul li a {
  color: white;
  border-radius: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.973);
}


nav .container .collapse ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  text-shadow: 1px 1px 1px rgba(255, 251, 251, 0.973);
}
nav .collapse a img {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 20px;
}

/* sidebar */
.left {
  position: fixed;
  background-color: #3b415b;
  height: 78vh;
  width: 20%;
  z-index: 99;
  margin: 80px;
  border-radius: 15px;
}

.quiz {
  background-color: #fff3dd;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
}

.quiz .utama {
  display: flex;
  background-color: #5f6fb5;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 15px;
}

.nomor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nomor p {
  display: flex;
  justify-content: center;
  border: #000 1px solid;
  border-radius: 10px;
  width: 12%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  margin-top: 20px;
  background-color: #f0cc8e;
}

.nomor .active {
  background-color: #5f6fb5;
  color: #fff;
}

.nomor .active a {
  color: white;
}

.kosong1,
.kosong2,
.container-side {
  display: flex;
  color: black;
  text-decoration: none;
  margin: 30px;
  width: 90%;
  height: 30px;
  align-items: center;
  margin-left: 15px;
  background-color: #f0cc8e;
  font-size: 80%;
  justify-content: center;
}

.kosong1 a,
.kosong2 a,
.container-side a {
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.quiz a {
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

/* kanan */
.right {
  position: fixed;
  justify-content: end;
  right: 0;
  top: 7%;
  height: 100vh;
  width: 70%;
  z-index: 99;
}

.container-judul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.judul h4 {
  display: flex;
  justify-content: left;
  margin: 40px;
  font-weight: bolder;
  font-size: 28px;
}

.navigasi {
  display: flex;
  justify-content: left;
  margin-top: 40px;
}

.navigasi i {
  padding-right: 10px;
  margin-top: 4px;
}

.pake {
  color: #5f6fb5;
}

.navigasi p {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  margin-top: -10px;
}

.teks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
}

.tulisan {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 30%;
  background-color: #e27a5f;
  border-radius: 20px;
}

.tulisan p {
  text-align: justify;
  padding: 30px;
}

.tulisan h5 {
  display: flex;
  margin-bottom: -10px;
  margin-top: 20px;
}

.tulisan .jawaban p {
  text-align: left;
  padding-left: -30px;
  width: 100%;
}
.abjad {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20px;
  cursor: pointer;
}

.abjad button {
  display: flex;
  justify-content: center;
  border: #000 1px solid;
  border-radius: 10px;
  width: 10vw;
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
  background-color: #f0cc8e;
}

.next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  padding-bottom: 20px;
}

.next a{
  display: flex;
  justify-content: center;
  border: #000 1px solid;
  border-radius: 10px;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  margin-top: 20px;
  background-color: #f0cc8e;
  text-decoration: none;
  color: #000;
}

.next .lanjut{
  background-color: #73F1B4;
}

.next .prev{
  background-color: #FF6161;
}

.abjad button:focus{
  border: #000 1px solid;
}

.abjad #jawab1:focus{
  background-color: #73F1B4;
  color: #000;
}
.abjad #jawab2:focus{
  background-color: #73F1B4;
  color: #000;
}
.abjad #jawab3:focus{
  background-color: #73F1B4;
  color: #000;
}
.abjad #jawab4:focus{
  background-color: #73F1B4;
  color: #000;
}

/* end kanan */

